## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.3
  - nightly
notifications:
  email: true
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
  - julia: nightly

## uncomment and modify the following lines to manually install system packages
addons:
  apt: # apt-get for linux
    packages:
    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

## uncomment the following lines to override the default test script
#script:
        #  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("GeoPhyInv"); Pkg.test("GeoPhyInv"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'using Pkg; cd(Pkg.dir("GeoPhyInv")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'using Pkg; cd(Pkg.dir("GeoPhyInv")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'



jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.add("Documenter"); Pkg.add("Gadfly");Pkg.add(PackageSpec(name="Misfits",url="https://github.com/pawbz/Misfits.jl.git"));Pkg.add(PackageSpec(name="Conv",url="https://github.com/pawbz/Conv.jl.git"));Pkg.develop(PackageSpec(path=pwd()));Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip

